
@model MyBlog.WebUI.Models.Portfolio.PortfolioViewModel

@{
    ViewData["Title"] = "ExperienceEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <!-- main title -->
    <div class="col-12">
        <div class="main__title">
            <h2>Create Exp (Edit)</h2>
        </div>
    </div>
    <!-- end main title -->
    <!-- form -->
    <div class="col-12">
        <form asp-controller="Portfolio" asp-action="CreateProject" method="post" class="form" novalidate>
            <div asp-validation-summary="ModelOnly" class="model-danger"></div>
            <input type="hidden" id="portfId" value="@Model.Id" />
            <div class="row row--form">
                <div class="col-12 col-md-7 form__content">
                    <div class="row row--form">
                        <div class="col-12">
                            <label asp-for="Title" class="form__label"></label>
                            <input asp-for="Title" class="form__input" placeholder="Title Giriniz">
                            <span asp-validation-for="Title" class="model-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="ProjectDate" class="form__label"></label>
                            <input asp-for="ProjectDate" class="form__input">
                            <span asp-validation-for="ProjectDate" class="model-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <label asp-for="ProjectUrl" class="form__label"></label>
                            <input asp-for="ProjectUrl" class="form__input">
                            <span asp-validation-for="ProjectUrl" class="model-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <label asp-for="UsedTechnologies" class="form__label"></label>
                            <input asp-for="UsedTechnologies" class="form__input">
                            <span asp-validation-for="UsedTechnologies" class="model-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="Description" class="form__label"></label>
                            <textarea asp-for="Description" class="form__textarea" placeholder=""></textarea>
                            <span asp-validation-for="Description" class="model-danger"></span>
                        </div>

                        <div class="col-12">
                            @if (Model.Id > 0)
                            {
                                <label asp-for="ProjectImages" class="form__label"></label><a href="#modal-add-image" class="main__title-link opening_modal_add open-modal ml-0 mb-3">Add Image</a>

                                if (Model.ProjectImages?.Count > 0)
                                {
                                    foreach (var item in Model.ProjectImages)
                                    {
                                        <div class="profile__content">
                                            <!-- profile user -->
                                            <div class="profile__user">
                                                <div class="profile__avatar">
                                                    <img src="~/img/portfoliopicture/@item.ImageUrl" alt="">
                                                </div>
                                                <div class="profile__meta profile__meta--green">

                                                    <span>Image Name:@item.ImageUrl</span>
                                                </div>
                                            </div>


                                            <div class="profile__actions">
                                                <button onclick="DeleteImageFromPortfolio(@item.Id)" class="profile__action profile__action--delete open-modal"><i class="icon ion-ios-trash"></i></button>
                                            </div>
                                        </div>
                                    }
                                }

                            }
                            else
                            {
                                <h2>Resim eklemek için ilk önce portfolio olustur</h2>
                            }


                        </div>
                        <div class="col-12">
                            <label asp-for="PortfolioType" class="form__label"></label>
                            <select class="js-example-basic-single" asp-for="PortfolioType">

                                <option value=""></option>
                                @foreach (var appType in Model.enumAppTypeList)
                                {
                                    <option value="@appType">@Enum.GetName(typeof(Enums.AppType), appType)</option>
                                }

                            </select>
                        </div>

                        @*checkbox ile kullanım*@

                        @*<div class="col-12">
                                <label class="form__label fw-bold">App Type</label>

                                @foreach (var appType in Model.enumAppTypeList)
                                {
                                    <div class="sign__group sign__group--checkbox">
                                        <input name="appTypeIds" value="@appType" id="appType_@appType" type="checkbox">
                                        <label for="appType_@appType">@Enum.GetName(typeof(Enums.AppType), appType)</label>
                                    </div>
                                }

                            </div>*@

                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="form__btn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- modal add-image -->
<div id="modal-add-image" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Add Image</h6>
    <form action="/" method="post">

        <label asp-for="ProjectImages" class="form__label"></label>
        <div class="form__gallery">
            <label id="gallery1" for="imageInput">Upload photos</label>
            <input data-name="#gallery1" id="imageInput" name="gallery" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple="">
        </div>

        <div class="sign__group sign__group--checkbox">
            <input value="" id="checkBoxInput" type="checkbox">
            <label for="checkBoxInput">Varsayılan resim oalrak ayarla(Kapak Resmi)</label>
        </div>

        <div id="add-image-error">
        </div>
        <span class="d-none" id="spinner">
            <img style="width:20px" src="~/loading_gif.webp" />
        </span>
        <div class="modal__btns">
            <button id="imageAdd" class="modal__btn modal__btn--apply" type="button">Save</button>
            <button id="educateAddDismiss" class="modal__btn modal__btn--dismiss eduDissmisClick" type="button">Dismiss</button>
        </div>
    </form>

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#imageAdd").click(function () {
                AddPortfolioImageProcess();
            });
        });

        function DeleteImageFromPortfolio(imageId) {

            $.ajax({
                type: 'POST',
                url: '/Portfolio/DeleteImageFromPortfolio',
                dataType: 'json',
                data: { ImageId: imageId },
                success: function (res) {
                    if (!res.isValid) {
                        alert(res.errorMessage)
                    }
                    else {
                        MyToast.fire({
                            icon: 'success',
                            title: "deleted successufuly",
                        })
                        location.reload();
                    }
                }
            });
        }


        function AddPortfolioImageProcess() {

            $("#spinner").removeClass("d-none");
            $("#spinner").addClass("d-block");

            var fileInput = $('#imageInput')[0];
            var checkBoxInput = $('#checkBoxInput')[0];
            var pId = $('#portfId').val();

            if (fileInput.files.length > 0) {

                var formData = new FormData();
                formData.append('ImageFile', fileInput.files[0]);
                formData.append('IsDefault', checkBoxInput.checked);
                formData.append('PortfolioId', pId);

                $.ajax({
                    type: 'POST',
                    url: '/Portfolio/AddImageForPortfolio',
                    dataType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,

                    success: function (res) {

                        $("#spinner").removeClass("d-block");
                        $("#spinner").addClass("d-none");
                        if (!res.isValid) {
                            $('#add-image-error').empty();
                            $.each(res.errorMessages, function (key, value) {
                                $("#add-image-error").append("<span class='model-danger mt-3'>" + value + '</span><br/>');
                            });
                            $('#add-image-error').text(res.errorMessage);
                        } else {

                            $(".skillDissmisClick").click();
                            $('#add-image-error').empty();

                            MyToast.fire({
                                icon: 'success',
                                title: "added successufuly2",
                            })
                            location.reload();
                        }
                    }
                });
                return false;
            } else {
                $('#add-image-error').text("resim seccc");
            }


        }

    </script>
}

