@model AboutViewModel

<div class="about-me container">

    <div class="section-title">
        <h2>Hakkımda</h2>
        @* <p>Learn more about me</p> *@
    </div>

    <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
            <img src="~/Personal/assets/img/meAvatar.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3 class="mb-3">@Model.Title</h3>
            @* <p class="fst-italic">
                    Web programmer by day, game developer by night...
                </p> *@
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>
                            <i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong> <span>
                                @Model.Birthday
                            </span>
                        </li>
                        <li>
                            <i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                            <span>@Model.Website</span>
                        </li>
                        <li>
                            <i class="bi bi-chevron-right"></i> <strong>Tel:</strong> <span>
                                @Model.PhoneNumber
                            </span>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span>@Model.Age</span></li>
                        <li>
                            <i class="bi bi-chevron-right"></i> <strong>Mail:</strong>
                            <span>@Model.Email</span>
                        </li>
                        <li>
                            <i class="bi bi-chevron-right"></i> <strong>Adres:</strong> <span>
                                @Model.Adress
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <p>
                Bilgisayar Mühendisliği bölümü mezunuyum.Üniversite yıllarımda kendimi Web Programlama(
                Asp.NET-MVC-EntityFramework) alanında geliştirdim.Bunun yanında boş vakitlerimde Unity üzerinde
                C# ile oyun prototipleri geliştiriyorum.
            </p>
        </div>
    </div>

</div>